* {
    margin: 0
}
body{
    background-color: aquamarine ;
    text-align: center;
    margin-top: 100px;
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:
    1px 1px 0px #75046c,
    2px 2px 0px #5909da,
    3px 3px 0px #e903d6,
    4px 4px 0px #03e2f1,
    5px 5px 0px #190244;
}
img {
    margin: 50px;
    width: 800px; 
    /* transition: border 0.3s ease;  */
    transition: all 0.3s ease;
  }

img:hover{
    transform: scale(102%);
    filter: brightness(115%);
}
